body{
    background-color: #1b6582;
    border: 1px solid #1b6582;
    margin-left: 100px;
    margin-right: 100px;
}
h1{
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.cartoon{
    display: flex;
    justify-content: end;
}
.tom{
    color: aliceblue;
    text-align: center;
    margin: auto;
    width: 60%;
    border: 1px solid  #1b6582;
    padding: 160px;
}
button{
    border: 2px solid snow;
    padding: 15px;
    background-color: #1b6582;
    color: aliceblue;
    
}
