body{
    background-image: url("bike-man.avif");
    background-repeat: no-repeat;
    background-size: 100%;
}
h2{
    color: orangered;
}
a{
    color: black;
    text-decoration: none;
    font-size: larger;
}
.cartoon{
    display: flex;
    justify-content: end;
}
.spike{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: 0% 80%;
}
.tom{
    font-size: 4em;
}
.jerry{
    font-size: 1.3em;
}
button{
    padding: 15px;
    background-color: orangered;
    color: aliceblue;
}