body{
    background-image: url("pexels-photo-1097456.webp") ;
    background-repeat: no-repeat;
    background-size: 400px 650px;
    height: 400px;
    width: 300px;
}
h1{
    text-align: center;
    color: aliceblue;
}
div{
    text-align: center;
    color: aliceblue;
}
h2{
    color: aliceblue;
}
p{
    color: aliceblue;
}
.tom{
    border-color: brown;
    border-width: 2px;
    border-style: solid ;
}
.dog{
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
}